<div class="container">

  <ol style="list-style: none;">
   <h3>Your Confirmed Bookings:</h3>
  <% @bookings.each do |booking| %>
    <li>
      <div class="card-product">
      <%= cl_image_tag booking.plant.image_url.key, class: "booking_img" %>
      <div class="card-product-infos">
      <h2><%= booking.plant.name %></h2>
      <p>Description: <%= booking.plant.description %></p>
      <p>Booked on <%= booking.created_at.to_date  %> in <%= booking.plant.location  %>.</p>
    </div>
  </div>
  <% end %>
  </ol>
</div>
