<div class="container" style="width:600px">
  <h2>Book <%= @plant.name %> for <%= @plant.price %>€</h2>
  <%= simple_form_for [ @plant, @booking ] do |f| %>
    <div class="form-inputs">
      <%= f.input :message, label: "Message your special requests" %>
    </div>
    <div class="form-actions">
      <%= f.submit "Book now!", class: "banner_btn btn btn-flat" %>
    </div>
  <% end %>
</div>
