<div class="container">
  <div class="container-body">
      <h2><%= @plant.name %></h2>
      <% if @plant.image.attached? %>
        <%= cl_image_tag @plant.image.key, width: "300px" %>
      <% elsif @plant.image_url %>
        <%= image_tag @plant.image_url, width: "100%", class: "plant-show" %>
      <% else %>
        <p><em><%= "no image available" %></em></p>
      <% end %>

      <h3>Create a new booking for <%= @plant.name %><h3>
      <h4>Don't forget to messge the seller any special details or requests.</h4>
      <%= simple_form_for [ @plant, @booking ] do |f| %>
        <%= f.input :message %>
        <%= f.submit "Book now!", class: "btn btn-primary" %>
      <% end %>
    </div>

</div>
