 <div class="container">
  <div class="top_text">
    <p><strong>Find your plant Match</strong>🪴</p>
  </div>

  <div class="banner_container">
    <div class="text_banner">
      <h1>Find the perfect plant, near you</h1>
      <p>Bring your space to life with leafy greens</p>

    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group">
        <input class="form-control string required" type="text" placeholder="location.." style="font-style:italic" name="search[query]" id="search_query" />
        <button name="button" type="submit" class="btn btn-flat">
          <i class="fas fa-search"></i> Search
        </button>
      </div>
      <% end %>

    <div class="btn">
      <%= link_to "Shop all Plants", "#", class: "btn btn-flat" %>
      <%= link_to "Sell Plants", "#", class: "btn btn-flat" %>
    </div>
  </div>

    <div class="image_banner">
      <%= cl_image_tag("huy-phan-dM317CbttyY-unsplash_rfdgbf",
        width: 800, height: 800, crop: :fill) %>
    </div>
  </div>
</div>
<div class="collections">
  <h1>Featured Collections</h1>

  <div class="cards">
    <div class="card">
      <%= cl_image_tag("galina-n-miziNqvJx5M-unsplash_uykclo",
        width: 320, height: 420, crop: :fill) %>
    <p>Best for Beginners</p>
  </div>
  <div class="card">
    <%= cl_image_tag("mark-tegethoff-TYUS-cXzy50-unsplash_ik5y5y",
        width: 320, height: 420, crop: :fill) %>
    <p>For Advanced Users</p>
  </div>
  <div class="card">
    <%= cl_image_tag("kevin-lessy-aKqw_M1CmfI-unsplash_oocmoj",
        width: 320, height: 420, crop: :fill) %>
    <p>Live Plants</p>
  </div>
  <div class="card">
    <%= cl_image_tag("gabriel-jimenez-jin4W1HqgL4-unsplash_rcf4pf",
        width: 320, height: 420, crop: :fill) %>
    <p>Cautions</p>
  </div>
  </div>
</div>

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "View all plants", plants_path, class: "btn" %>

<h4>Changelog</h4>
<ul>
  <li>Added <strong>Plants Controller</strong> to /plants</li>
  <li>Added <strong>SignUp/Login/Logout Functions</strong> to navbar</li>
</ul>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Asperiores, sit eum omnis non accusantium voluptatem dolor in ad, laboriosam porro alias doloribus facere error quia unde cupiditate labore. Illum, vitae!
Incidunt, quasi voluptatibus. Dolore perferendis officia corporis maxime impedit veniam nemo? Ex reiciendis illo, odio delectus asperiores officia! Quos a ea quo aspernatur deserunt unde, nam odit illum quis sunt.
Numquam aut ratione quo nostrum rerum, culpa quibusdam maiores quam rem, quod nesciunt! Ullam consequatur aperiam at esse, quo ut ea repellat perspiciatis labore reprehenderit ex cumque dolorum! Assumenda, labore?
Ipsa nostrum cum tempore tenetur nesciunt eligendi! Quas deserunt veniam iste magni ut et sapiente quis, quisquam quaerat minus? Iste quas repellendus, perspiciatis dignissimos illum nihil vel adipisci pariatur nulla!
Architecto sed obcaecati ex soluta id, nam ea similique voluptatem in ducimus eos beatae excepturi quibusdam odio magni. </p>

<p>Eum ratione nihil vero! Non iste distinctio quibusdam accusamus quisquam dolores labore.
Corporis, quae iure commodi, dolores fugit blanditiis id numquam beatae amet, voluptatibus eos unde non facilis consequatur mollitia vitae harum odit ut? Repudiandae, natus error? Quia rerum molestias illo sunt?
Nisi, sed eveniet nemo animi dolore natus ea dolorum sit distinctio nulla non est temporibus vel qui consequatur nam facere a quod tempore pariatur perferendis quis aliquid explicabo. Eius, doloribus.
Unde quasi eveniet, repudiandae alias tenetur voluptates necessitatibus iusto ut quia reiciendis aliquid numquam perferendis, similique obcaecati vel tempora quos. Accusamus commodi eveniet voluptatem impedit quos facilis totam doloremque beatae!
Explicabo, voluptate consequatur quas mollitia id illum aliquam! Suscipit molestiae id inventore perferendis iste officia dicta obcaecati, exercitationem ad consequatur veniam adipisci labore animi optio, ex distinctio dolor error reprehenderit.
Animi magnam explicabo nisi id nam, laudantium excepturi aperiam voluptates harum assumenda facilis perspiciatis voluptatibus provident iure ad fugit error accusamus, quisquam qui magni pariatur veniam. Nostrum quis atque consequatur?</p>
