  <div class="banner_container">
    <div class="text_banner">
      <h1>Find the perfect plant</h1>
      <h1><em>near you</em></h1>
      <p>Bring your space to life with leafy greens</p>
    <div class="seach-form">
      <%= form_tag plants_path, method: :get do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find plants near you"
        %>
        <%= submit_tag "Search", class: "search_btn btn btn-form" %>
      <% end %>
    </div>

      <div>
        <%= link_to "Shop all Plants", "/plants", class: "banner_btn btn btn-flat" %>
        <%= link_to "Create a Plant", "plants/new", class: "banner_btn btn btn-flat" %>
      </div>
      </div>

      <div class="image_banner">
        <%= image_tag("/assets/banner.jpg", class: "img_banner", height: 800)%>
      </div>
   </div>
</div>

<div class="collections">
  <h1>Featured Collections</h1>

  <div class="cards">
    <div class="card_collection">
      <%= image_tag("/assets/beginner.jpg",
        width: 320, height: 420, crop: :fill) %>
      <p><%= link_to "Best for Beginners", easy_plants_path %></p>
    </div>
    <div class="card_collection">
      <%= image_tag("/assets/nearyou.jpg",
          width: 320, height: 420, crop: :fill) %>
      <p><%= link_to "Near you", near_plants_path %></p>
    </div>
    <div class="card_collection">
      <%= image_tag("/assets/cheaper.jpg",
          width: 320, height: 420, crop: :fill) %>
      <p><%= link_to "Cheaper", cheaper_plants_path %></p>
    </div>
  </div>
</div>
