<div class="container">
  <ol style="list-style: none;">
  <div class="easy_text">
  <h2>Best for Beginners</h2>
  </div>
  <% @plants.each do |plant| %>
    <li>
      <div class="my-card">
      <% if plant.image.attached? %>
        <%= link_to (cl_image_tag plant.image.key, height: "240", width: "240"), plant_path(plant) %>
      <% elsif plant.image_url %>
        <%= link_to (image_tag plant.image_url, height: "240", width: "240"), plant_path(plant) %>
      <% else %>
        <p><em><%= "no image available" %></em></p>
      <% end %>

      <div class="card-product-infos">
        <h2><%= link_to plant.name, plant_path(plant.id), method: :get, style: "text-decoration: none" %></h2>
        <p>Type: <%= plant.plant_type %></p>
        <p>Price: <%= plant.price %>€ • <strong>Care Level: <%= plant.care_level %></strong></p>
        <p>Created in <%= plant.location  %></p>
      </div>
  <% end %>
  </ol>
</div>
