<div class="header">
  <h1>All Available Plants</h1>
</div>

<div class="all_plants">
  <div class="row g-0">
    <div class="plant_cards">
      <div class="card_row">
        <% @plants.each do |plant| %>
          <% if !plant.booking %>
          <div class="card_plants">
            <% if plant.image.attached? %>
              <%= link_to (cl_image_tag plant.image.key, height: "240", width: "240"), plant_path(plant) %>
            <% elsif plant.image_url %>
              <%= link_to (image_tag plant.image_url, height: "240", width: "240"), plant_path(plant)  %>
            <% else %>
              <p><em><%= "no image available" %></em></p>
            <% end %>
            <div class="plant-card-info">
              <div class="plant-card-text">
                <h3><strong><%= link_to plant.name, plant_path(plant) %></strong></h3>
                <p><%= plant.plant_type %></p>
              </div>
              <div class="plant-card-price">
                <h5><%= plant.price %>€</h5>
              </div>
            </div>

            <%# Links with authorization, depending on who created the plant (still to be styled) %>
            <% if current_user != plant.user || current_user.admin %>
              <%= link_to "Book", new_plant_booking_path(plant), id: "bag", method: :get %> </button>
            <% end %>

            <%# if policy(plant).edit? %>
                <%# link_to "Edit", edit_plant_path(plant), style: "text-decoration: none" %>
            <%# end %>
            <%# if policy(plant).destroy? %>
              <%# link_to "Remove",
                          plant_path(plant),
                          style: "text-decoration: none",
                          method: :delete,
                          data: { confirm: "think twice..."} %>
             <%# end %>
          </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
