<div class="collections">
  <h1>All available Plants</h1>

  <div class="container">
    <% @plants.each do |plant| %>
    <div class="card">
      <% if plant.image_url.attached? %>
        <%= cl_image_tag plant.image_url.key, width: "300px" %>
      <% else %>
        <p><em><%= "no image available" %></em></p>
      <% end %>
      <%# cl_image_tag("mark-tegethoff-TYUS-cXzy50-unsplash_ik5y5y",
          width: 320, height: 420, crop: :fill) %>
      <p><%= link_to plant.name, plant_path(plant) %></p>
      <p><%= plant.description %></p>
      <% if policy(plant).edit? %>
          <%= link_to "Edit", edit_plant_path(plant), style: "text-decoration: none" %>
      <% end %>
      <% if policy(plant).destroy? %>
          <%= link_to "Remove",
                      plant_path(plant),
                      style: "text-decoration: none",
                      method: :delete,
                      data: { confirm: "think twice..."} %>
      <% end %>
    </div>
      <%# cl_image_tag("kevin-lessy-aKqw_M1CmfI-unsplash_oocmoj",
          width: 320, height: 420, crop: :fill) %>
      <%# cl_image_tag("gabriel-jimenez-jin4W1HqgL4-unsplash_rcf4pf",
          width: 320, height: 420, crop: :fill) %>
        <%# cl_image_tag("galina-n-miziNqvJx5M-unsplash_uykclo",
      width: 320, height: 420, crop: :fill) %>
    <% end %>
  </div>
<% if policy(Plant).new? %>
  <p><%= link_to "new plant", new_plant_path %></p>
<% end %>
