<div class="header">
  <h1>All available Plants</h1>
  <p><%= link_to "back", root_path %> </p>
</div>

<div class="all_plants">
  <div class="row g-0">

    <div class="filter">
       <div class="filter_header">
          <h4>Filter</h4>
       </div>
       <div class="filter_form">
          <div class="dropdown">
              <button class="filter_element btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Type
            </button>
          </div>
          <div class="dropdown">
              <button class="filter_element btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Care Level
            </button>
          </div>
          <div class="dropdown">
              <button class="filter_element btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Price
            </button>
          </div>
          <div class="filter_reset">
          <h6>reset</h6>
          </div>
       </div>
    </div>

    <div class="plant_cards">

       <div class="sort_header">
          <div><p><strong>...results</strong></p></div>
          <div class="dropdown">
            <button class="drop btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sort by
            </button>
              <ul class="dropdown-menu">
                <li><a class="sort_item dropdown-item" href="#">Sort by: price(high to low)</a></li>
                <li><a class="sort_item dropdown-item" href="#">Sort by: price(low to high)</a></li>
                <li><a class="sort_item dropdown-item" href="#">Sort by: Newest</a></li>
              </ul>
          </div>
       </div>

      <div class="card_row">
        <% @plants.each do |plant| %>
          <% if !plant.booking %>
          <div class="card_plants">
            <% if plant.image.attached? %>
              <%= cl_image_tag plant.image.key, height: "240", width: "240" %>
            <% elsif plant.image_url %>
              <%= image_tag plant.image_url, height: "240", width: "240" %>
            <% else %>
              <p><em><%= "no image available" %></em></p>
            <% end %>

            <h3><strong><%= link_to plant.name, plant_path(plant) %></strong></h3>
            <p><%= plant.plant_type %></p>
            <h5><%= plant.price %>€</h5>

            <%# Links with authorization, depending on who created the plant (still to be styled) %>
            <% if current_user != plant.user || current_user.admin %>
              <button class="bag" type="button"><%= link_to "Book", new_plant_booking_path(plant), method: :get %> </button>
            <% end %>


            <%# if policy(plant).edit? %>
                <%# link_to "Edit", edit_plant_path(plant), style: "text-decoration: none" %>
            <%# end %>
            <%# if policy(plant).destroy? %>
              <%# link_to "Remove",
                          plant_path(plant),
                          style: "text-decoration: none",
                          method: :delete,
                          data: { confirm: "think twice..."} %>
             <%# end %>
          </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<% if policy(Plant).new? %>
  <p><%= link_to "new plant", new_plant_path %></p>
<% end %>
