
<div class="plants3">
  <div class="container">
    <h2 style="color:white; text-align:center; margin-top: 15px;"> <strong>My Plants:</strong> </h2>
    <% @plants.each do |plant| %>
        <div class="my-card">
        <% if plant.image.attached? %>
          <%= link_to (cl_image_tag plant.image.key, height: "240", width: "240"), plant_path(plant) %>
        <% elsif plant.image_url %>
          <%= link_to (image_tag plant.image_url, height: "240", width: "240"), plant_path(plant) %>
        <% else %>
          <p><em><%= "no image available" %></em></p>
        <% end %>

        <div class="card-product-infos">
        <h2><%= link_to plant.name.titleize, plant_path(plant.id), method: :get, style: "text-decoration: none" %></h2>
        <p><strong>Type:</strong> <%= plant.plant_type %></p>
        <p><strong>Price:</strong> <%= plant.price %>€</p>
        <p>Grown in <strong><%= plant.location  %></strong>.</p>
      </div>
      </div>
      <% end %>
    </div>
  </div>
