<div class="container">
  <ol style="list-style: none;">
  <h2>Near Yourself</h2>
  <p>Around <%= current_user.location %></p>
  <% @plants.each do |plant| %>
    <li>
      <div class="card-product">
      <% if plant.image.attached? %>
        <%= cl_image_tag plant.image.key %>
      <% elsif plant.image_url %>
        <%= image_tag plant.image_url, height: "240", width: "240" %>
      <% else %>
        <p><em><%= "no image available" %></em></p>
      <% end %>

      <div class="card-product-infos">
        <h2><%= link_to plant.name, plant_path(plant.id), method: :get, style: "text-decoration: none" %></h2>
        <p>Type: <%= plant.plant_type %></p>
        <p>Price: <%= plant.price %>€ • Care Level: <%= plant.care_level %></p>
        <p>Some km <strong>away from you</strong></p>
      </div>
  <% end %>
  </ol>
</div>
