<div class="container">
  <ol style="list-style: none;">
    <div class="near_text">
      <h2>Near Yourself</h2>
        <% if current_user %>
          <p>Around <%= current_user.location %></p>
      </div>
          <% @plants.each do |plant| %>
            <li>
          <div class="card-product">
          <% if plant.image.attached? %>
            <%= link_to (cl_image_tag plant.image.key, height: "240", width: "240"), plant_path(plant) %>
          <% elsif plant.image_url %>
            <%= link_to (image_tag plant.image_url, height: "240", width: "240"), plant_path(plant) %>
          <% else %>
            <p><em><%= "no image available" %></em></p>
          <% end %>

          <div class="card-product-infos">
            <h2><%= link_to plant.name, plant_path(plant.id), method: :get, style: "text-decoration: none" %></h2>
            <p>Type: <%= plant.plant_type %></p>
            <p>Price: <%= plant.price %>€ • Care Level: <%= plant.care_level %></p>
            <p><strong><%= number_with_precision( plant.distance_to(current_user.location) , precision: 1) %>km away from you</strong></p>
          </div>
      <% end %>

    <% else %>
      <div class="seach-form" style="position: relative; margin: 50px;">
      <%= form_tag plants_path, method: :get do %>
      <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find plants near you"
          %>
      <%= submit_tag "Search", class: "search_btn btn btn-form" %>
      <% end %>
    </div>
    <% end %>
  </ol>
</div>
