<div class="card-product">
  <h2><%= @plant.name %></h2>

  <% if @plant.image_url.attached? %>
    <%= cl_image_tag @plant.image_url.key, width: 400 %>
  <% else %>
    <p><em><%= "no image available" %></em></p>
  <% end %>

  <div class="card-product-infos">
    <p><%= @plant.description %></p>
    <p>Price: <%= @plant.price %>€</p>
    <p>Type: <%= @plant.plant_type %></p>
    <p>Care Level: <%= @plant.care_level %> </p>
    <p>Location: <%= @plant.location %></p>
  </div>
</div>

<div class="butt">
<% if policy(@plant).edit? %>
  <p><%= link_to "Edit this plant", edit_plant_path(@plant), class: "btn-flat" %></p>
<% end %>
<% if policy(@plant).destroy? %>
  <p><%= link_to "Remove this plant",
                plant_path(@plant),
                class: "btn-flat",
                method: :delete,
                data: { confirm: "think twice..."} %></p>
<% end %>
<p><%= link_to "Back to all plants", plants_path, class: "btn-flat" %></p>
<%= link_to "Book this plant", new_plant_booking_path(@plant), class: "btn-flat", method: :get %>
</div>
