<div class="container">
  <h2><%= @plant.name %></h2>
  <div><%= cl_image_tag @plant.image_url.key, width: 400 %></div>

  <div class="butt">
  <p><%= link_to "Edit this plant", edit_plant_path(@plant), class: "btn-flat d-inline p-2" %></p>

  <p><%= link_to "Remove this plant",
                plant_path(@plant),
                class: "btn-flat d-inline p-2",
                method: :delete,
                data: { confirm: "think twice..."} %></p>

  <p><%= link_to "Back to all plants", plants_path, class: "btn-flat d-inline p-2" %></p>
  <%= link_to "Book this plant", new_plant_booking_path(@plant), class: "btn-flat d-inline p-2", method: :get %>
  </div>
</div>
