<div class="plants2">
  <div class="container" style="width:600px";>
    <h2 class="plant-header"><strong><%= @plant.name.titleize %></strong></h2>
    <% if @plant.image.attached? %>
      <%= cl_image_tag @plant.image.key, width: "100%", class: "plant-show" %>
    <% elsif @plant.image_url %>
      <%= image_tag @plant.image_url, width: "100%", class: "plant-show" %>
    <% else %>
      <p><em><%= "no image available" %></em></p>
    <% end %>

    <div class="card" style="width:100%">
      <div class="card-header">
          This is <%= @plant.name.titleize %>:
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><strong>Type:</strong> <%= @plant.plant_type.capitalize %></li>
          <li class="list-group-item"><strong>Price:</strong> <%= @plant.price %>€</li>
          <li class="list-group-item"><strong>Care Level:</strong> <%= @plant.care_level %></li>
          <li class="list-group-item"><strong>Location:</strong> <%= @plant.location.titleize %></li>
          <li class="list-group-item"><strong>Description:</strong> <%= @plant.description.capitalize %></li>
        </ul>
      </div>
    </div>

    <div class="card mt-3" style="width:100%">
      <div class="card-header">
          What bookers say about <%= @plant.name.titleize %>:
      </div>
      <div class="card-body">
        <ul class="list-group list-group-flush">
          <% @bookings = Booking.where(plant_id: @plant.id) %>
          <% if @bookings %>
            <p>No one has booked <%= @plant.name.titleize %>...</p>
          <% else %>
            <% @bookings.each do |booking| %>
              <li class="list-group-item">"<em><%= booking.message  %></em>", <%= booking.user.first_name  %> <%= booking.user.last_name  %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </div>

    <div class="btn-group btn-group-sm" style="text-align:center">
        <% if policy(@plant).edit? %>
          <%= link_to "Edit this plant", edit_plant_path(@plant), class: "backlink btn-flat" %>
        <% end %>
        <% if policy(@plant).destroy? %>
          <%= link_to "Remove this plant",
                        plant_path(@plant),
                        class: "backlink btn-flat",
                        method: :delete,
                        data: { confirm: "think twice..."} %>
        <% end %>
        <% if current_user != @plant.user || current_user.admin %>
          <%= link_to "Book this plant", new_plant_booking_path(@plant), class: "backlink btn-flat", method: :get %>
        <% end %>
        <%= link_to "Back to all plants", plants_path, class: "backlink btn-flat" %>
    </div>
  </div>
</div>
